0 * * * * root users_hash=$(sudo ruby /usr/local/bin/check_users.rb | md5sum | cut -d' ' -f1) && prev_hash=$(cat test.txt | cut -d' ' -f1) && if [ $users_hash != $prev_hash ] ; then echo $users_hash > /var/log/current_users && echo "$(date) changes occured" > /var/log/user_changes; else echo $users_hash > /var/log/current_users;  fi
